* {
  box-sizing: border-box;
}

body {
background: rgb(230, 245, 139);
  background: linear-gradient(90deg, rgba(230, 245, 139, 0.6083683473389356) 21%, rgba(71, 46, 232, 0.1517857142857143) 97%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.country-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}

.country-box {
  display: flex;
  align-items: center;
}
.country-box__img {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      max-width: 100%;

}
.country-box__title {
  margin-left: 10px;
}
.unique {
  text-decoration-line:underline;
  color: black;
    text-shadow: 1px 1px 2px #00000034;
}
